{% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>A Pen by  Pablo Villa</title>
  <link href="https://file.myfontastic.com/2sMRZvKR3ic3NH2VStd79J/icons.css" rel="stylesheet">


      <link rel="stylesheet" href="{% static 'css/style.css' %}" >


</head>

<body>
  <center>
    <h1>Instagram
    <div class="bloque_principal">
      <br>
     <input  type="text" name="" placeholder="Correo" >
      <br>
      <input  type="text" name="" placeholder="Nombre" >
      <br>
      <input  type="text" name="" placeholder="Nombre de usuario" >
      <br>
      <input  type="password" name="" placeholder="contraseña" >
      <br>
      <input type="submit" name"" value="Registrarse">
    </div>
  </center>


</body>
</html>
