@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.photo_container {
  width: 400px;
  background: white;
  border: 1px solid #ccc;
}

.photo_container .photo_header {
  display: flex;
}

.photo_container .photo_user {
  padding: 10px;
  border-radius: 50%;
  aign-itmes: center;
}

.photo_container .photo_username {
  display: flex;
  aign-itmes: center;
  padding: 10px;
}

.photo_container .photo_image img {
  width: 100%;
  display: block;
}

.photo_container .photo_icons {
  font-size: 1.5rem;
  padding: 10px;
}

[class*='icon-'] {
  padding: 5px;
}

.photo_container .photo_likes {
  margin: 0;
  padding: 0 10px 10px 10px;
}

.photo_container .photo_comments {
  padding: 10px;
  padiing-top: 0;
  font-size: 0.85rem;
}
